div {
    display: block;
}

#navi-logo {
    height: 5rem;
    float: left;
}

#aboutus {
    padding-left: 0;
}

#home {
    padding-right: .5rem;
}

#community {
    padding-right: .5rem; 
    padding-left: 0;
}

ul {
    list-style: none;
}

body {
    background-color: #006BB6;
}

nav {
    background-color: #FDB927;
}

#container {
    background-color: #FDB927;
    width: 100%;
}

figure {
    border: 2px solid;
    padding: 1rem; 
    background-color: #006BB6;
    width: 89%;
    margin-left: 0rem;
}

figure img {
    width: 100%
}

figcaption {
    font-weight: bold;
    color: white;
    font-size: .65rem;
}

#main-header {
    text-align: center;
    padding-top: 1rem;
}

#Pfooter {
    margin: 0px;
}

main, section, article, aside, footer, header, nav, hgroup {
    display: block;
}

aside, article {
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
}

aside section {
    border: 1px solid #006BB6;
    margin-bottom: 1rem;
    align-content: center;
}

section {
    margin-left: 2rem;
    margin-right: 0;
    padding: .5rem;
}
aside {
    margin-right: 1.5rem;
    width: 21rem;
    margin-left: -2rem;
}

#aside {
    text-align: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.main-style {
    float: none;
    width: 100%;
}

.nav-list {
    float: left;
    padding: 1rem;
    margin-top:1rem;
    font-size: 1rem;
}

.clearfixnav:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 1rem;
}

@media (min-width: 800px) {
    aside {
    float: left;
    padding-right: 0;
    width: 28%;
}

main {
    float: left;
    width: 68%;
}
}